@{
    Layout = "~/Views/Shared/_layoutAdmin.cshtml";
}
<div class="content">
    <div class="users">
        <div class="tabs">
            <div class="tab-body">
                <div class="tab-content active">
                    <div class="content-header">
                        <h2 class="title">البلاغات</h2>
                    </div>
                    <table>
                        <thead>
                            <tr>
                                <th>الرقم</th>
                                <th> اسم المدرس</th>
                                <th>اسم الطالب </th>
                                <th>تصنيف البلاغ</th>
                                <th>نوع البلاغ</th>
                                <th>محتوى البلاغ</th>
                                <th>أوامر</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>1</td>
                                <td>احمد هاشم</td>
                                <td>علي علي</td>
                                <td>متحوى</td>
                                <td>مسيى</td>
                                <td>المحتوى غير واضح.......</td>
                                <td>
                                    <a href=""><button class="btn btn-success">عرض</button></a>
                                    <a href=""><button class=" btn btn-warning">حذف</button></a>
                                    <a href=""><button class=" btn btn-danger">الغاء</button></a>
                                </td>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>     