@{
    Layout = "~/Views/Shared/_layoutAdmin.cshtml";
}


<div class="content">
    <div class="content-header">
        <h2 class="title">المعلمين الجدد</h2>
    </div>
    <div class="content-body">
        <div class="categories">
            <table>
                <thead>
                    <tr>
                        <th>الرقم</th>
                        <th>الاسم</th>
                        <th>البريد الالكتروني</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>1</td>
                        <td>يزيد </td>
                        <td>GRX@gmail.com</td>
                        <td>
                            <button type="button" id="infoBtn1" class="btn btn-success" data-bs-toggle="modal"
                                    data-bs-target="#techersInfo">
                                معلومات
                            </button>
                            <a href=""><button class="btn btn-warning">قبول</button></a>
                            <a href=""><button class="btn btn-danger">رفض</button></a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

    <div class="popCardT" id="popup1">
        <div class="popUpT">
            <!-- add content -->
            <div class="tab-content active">
                <div class="content-header">
                    <h2 class="title"> معلومات المدرس </h2>
                    <button id="closeBtn1" class="btn btn-warning">اغلاق</button>
                </div>
                <div class="content-header" style="display: flex;
            justify-content: space-around;
            margin: 20px 0;
            flex-direction: row;">
                    <img src="../public/ellipse-443@2x.png" height="100" width="100">
                </div>
                <div class="content-body" style="overflow-y: auto; max-height: 400px;">
                    <div class="add-category">
                        <form>

                            <div class="form-item">
                                <label>الاسم الأول</label>
                                <input type="text" value="name" disabled>
                            </div>

                            <div class="form-item">
                                <label>الاسم الأخير</label>
                                <input type="text" value="jjjj" disabled>
                            </div>

                            <div class="form-item">
                                <label>رقم الجوال</label>
                                <input type="text" value="999999" disabled>
                            </div>


                            <div class="form-item">
                                <label>البريد الإلكتوني</label>
                                <input type="text" value="ali.alattas.it@gmail.com" disabled>
                            </div>

                            <div class="form-item">
                                <label>مقر الإقامة</label>
                                <input type="text" value="اليمن" disabled>
                            </div>

                            <div class="form-item">
                                <label> الجنس</label>
                                <input type="text" value="ذكر" disabled>
                            </div>


                            <div class="form-item">
                                <label> المستوى التعليمي الحالي</label>
                                <input type="text" value="بكالوريس" disabled>
                            </div>

                            <div class="form-item">
                                <label> تاريخ الميلاد</label>
                                <input type="text" value="12/11/1111" disabled>
                            </div>

                            <div class="form-item">
                                <label> الشهادات التعليمية و الخبرات </label>
                                <a href="/path/to/your/file.pdf" target="_blank" class="pdf-link">Click here to view PDF</a>
                            </div>


                            <div class="form-item">
                                <label> اسم الجامعة التي درس / تخرج منها</label>
                                <input type="text" value="جامعة حضرموت" disabled>
                            </div>

                            <div class="form-item">
                                <label>الخبرة</label>
                                <input type="text" value="متمكن" disabled>
                            </div>

                            <div class="form-item">
                                <label> التخصص</label>
                                <input type="text" value="تقنية معلومات" disabled>
                            </div>


                        </form>
                        <div class="content-header">
                            <h2 class="title"> البيانات البنكية </h2>
                        </div>
                        <form>

                            <div class="form-item">
                                <label> اسم مالك الحساب</label>
                                <input type="text" value="name" disabled>
                            </div>

                            <div class="form-item">
                                <label> حدد البنك او الصراف</label>
                                <input type="text" value="الكريمي" disabled>
                            </div>

                            <div class="form-item">
                                <label> رقم الحساب</label>
                                <input type="text" value="11112121" disabled>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="~/js/ad_new_teacher.js"></script>