@model Benaa.Core.Entities.DTOs.LoginRequestDto.Request;
<!DOCTYPE html>
<html lang="ar" dir="rtl">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css'>
    <link rel="stylesheet" href="~/css/style.css">

    <title>منصة بناء التعليمية</title>
    <link rel="icon" href="~/public/group-4831.svg" type="image/svg+xml">


    <link rel="stylesheet" href="~/Cairo/Cairo-VariableFont_slnt,wght.ttf" />

    <link rel="stylesheet" href="~/css/main.css">
    <link rel="stylesheet" href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css'>
    <link rel="stylesheet" href="~/css/style.css">

</head>
<body>
    <div class="container-fluid">
        <div class="main">
            <div class="mainCard">
                <div class="section" style="    width: fit-content;         transform: translate(-90%, 5%);

        ">
                    <div class="theme-toggler">
                        <span class="icon">
                            <i class='bx bx-sun' name="sun"></i>
                            <!-- <i class='bx bx-moon' name="moon"></i> -->
                        </span>
                    </div>
                    <div class="content">
                        <div class="content-login-header">
                            <div style="

                    display: flex;
                    align-items: center;
                    flex-direction: column;
                ">
                                <img src="../public/group-4831.svg" height="130" width="300">
                                <h5 class="title"> منصة بناء التعلمية</h5>
                                <h2 class="title"> مرحبا بك</h2>
                            </div>

                        </div>
                        <div class="content-body">
                            <div class="add-category-login">
                                @using (Html.BeginForm("login", "Authentcation", FormMethod.Post))
                                {
                                    <div class="form-item">
                                        @* < input asp-for="Email" />*@
                                         @Html.TextBoxFor(m => m.Email, new { style = "border-radius: 8px;", placeholder = "اسم المستخدم", required = "required"  })
                                    </div>

                                    <div class="form-item">
                                        @*input asp-for="Password" />*@
                                        @Html.TextBoxFor(m => m.Password, new { style = "border-radius: 8px;", placeholder = "كلمة المرور", required = "required" })
                                    </div>

                                    <div class="form-item" style="width: 50%; border-radius: 8px;">
                                        <button id="addBtn" type="submit" class="save-btn btn btn-primary">تسجيل الدخول</button>
                                    </div>
                                }
                        </div>

                    </div>

                </div>

            </div>


        </div>



    </div>

    <script src="~/js/app.js"></script>
    <script src="~/js/theme-script.js"></script>
    <script src="~/js/alpine.js"></script>

</body>

</html>
