@{
	Layout = "~/Views/Shared/_layoutOwner.cshtml";
}

<!-- Cards Box -->
<div class="cardsBox">
	<div class="card">
		<div>
			<div class="number">30000</div>
			<div class="cardName">اجمالي الدخل</div>
		</div>

	</div>
	<div class="card ">
		<div>
			<div class="number">15000</div>
			<div class="cardName">الارباح</div>
		</div>

	</div>
	<div class="card">
		<div>
			<div class="number">44444</div>
			<div class="cardName">مستحقات المدرسين</div>
		</div>

	</div>
	<div class="card">
		<div>
			<div class="number">462</div>
			<div class="cardName">عدد المدرسين</div>
		</div>

	</div>
	<div class="card">
		<div>
			<div class="number">4642</div>
			<div class="cardName">عدد الطلاب</div>
		</div>

	</div>
</div>


<div class="mainCard">
	<div class="section">
		<div>
			<!-- Main Content -->
			<div class="content">
				<div class="content-header">
					<h2 class="title">الطلبات الاخيرة</h2>

					<button id="infoBtn" class="btn btn-primary"> الطلبات المدفوعة</button>
				</div>
				<div class="content-body">
					<div class="products">
						<table>
							<thead>
								<tr>
									<th>الرقم</th>
									<th>الاسم</th>
									<th>البنك</th>
									<th>رقم الحساب </th>
									<th>المبلغ</th>
									<th>الوقت المتبقي</th>
									<th>حالة الطلب</th>
									<th>أوامر</th>
								</tr>
							</thead>
							<tbody>
								<tr>
									<td>1</td>
									<td>جاسم بوسالم</td>
									<td>الكريمي</td>
									<td>243000</td>
									<td>$12.50</td>
									<td>00:00:00</td>
									<td>
										<span class="status-success">مستحق</span>
										<!-- status-danger  -->
									</td>
									<td>
										<a href=""><button class="btn btn-warning">دفع</button></a>
									</td>
								</tr>
							</tbody>
						</table>

					</div>
				</div>
			</div>

		</div>

	</div>


</div>
